body {
       background: rgb(212, 167, 255) // background
       color: rgb(136, 0, 209) // shrug
       padding: 10px;
       font-family: arial;
   }
   #all-contents {
     max-width: 800px;
       margin: auto;
   }

   /* navigation menu */
   nav {
       background: rgb(255, 139, 152); // pink tippy top
      margin: 0 auto;
       display: flex;
       padding: 10px;
   }
   h1 {
       display: flex;
       align-items: center;
       color: rgb(136, 0, 209); // purple text
       flex: 1;
       margin: 0;
   }
   #nav-ul {
       list-style-image: none;
   }
   .nav-li {
       display: inline-block;
       padding: 10px;
   }
   a {
       text-decoration: none;
       color: rgb(216, 65, 105); // tippy top text color maybe?
   }

   /* main container area beneath menu */
   main {
       background: rgb(139, 224, 255);
       display: flex;
   }
   .sidebar {
       margin-right: 25px;
       padding: 10px;
   }
   .sidebar-img {
       width: 200px;
   }
   .content {
       flex: 1;
       padding: 15px;
   }

   /* portfolio styles */
    /* portfolio styles */
    .content h1 {
    color: rgb(255, 0, 94); // text I think?
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: rgb(255, 212, 288);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: rgb(226, 142, 162);
}

#portfolio a {
    text-decoration: none;
    color: rgb(122, 78, 78);
}
