
body {
  background-color: rgb(73, 12, 92);
}

#board {
  width: 1000px;
  height: 440px;
  border: 1px solid rgb(217, 135, 255);
  background-color: rgb(16, 4, 70);
  position: relative;
}

.paddle{
  width: 30px;
  height: 150px;
  border-radius: 50px;
  position: absolute;
}

#leftPaddle {
  background-color: rgb(238, 178, 28);
  left: 10px; 
  top: 100px;
}

#rightPaddle {
  background-color: rgb(49, 224, 247);
  left: 960px;
  top: 100px;  
}

#ball {
  background-color: deeppink;
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
